DB_HOST= mysql://root:thdPdbYrZvhbrfGEpaGKKPFCrBIAZVyN@interchange.proxy.rlwy.net:37874/railway
DB_USER= root
DB_PASSWORD= "thdPdbYrZvhbrfGEpaGKKPFCrBIAZVyN"
DB_NAME= railway
DB_PORT= 3306
PORT= 5001

GROQ_API_KEY=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
